body {
    font-family: Inter, sans-serif;
}

h1{
    color: blue
}

ol{
    line-height: 2;
    padding-left: 100px;
}

h2 p {
    border: red solid 2px;
    background-color: lightblue;
}

div{
    border:red solid 2px;
    background-color: lightblue;
}

span{
    background-color: yellow;
}