body {
  background-color: #f0f8ff;   
  color: #333;                 
  margin: 40px;               
}



h1 {
  color: #39C5BB;                      
}

h2 {
  color: #2a7f73;
  font-size: 28px;
}


a {
  color: #39C5BB;
}
